@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 { 
  font-weight: bold;
}
h1 {
  font-size: 24px; 
}
h2 {
  font-size: 21px; 
}

.films-container, .recipes-container {
  overflow: scroll;
  overflow-x: hidden;
}